/* *{
    margin: -4px;
}
.heading{
    margin-top: 50px;
    margin-bottom: 20px;
     width: 400px; ...
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 65px;
   width: 270px;

}

.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
} */
*{
    margin: 0px;
}
.head{
 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid red;
}

header{
    width: 80%;
    height: 70%;
    border: 3px solid black;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.line{
    width: 80%;
    height: 50px;
}

.navi{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}


navbar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
} 