*{
    margin: -4px;
}
.heading{
    margin-top: 50px;
    margin-bottom: 20px;
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
g{
    
    margin-bottom: 20px;

}
.line{
    height: 65px;
   width: 270px;

}

.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}